h1 {color: black; font-family: Verdana, Arial, Helvetica, sans-serif;} 
h2 {color: black; font-family: Verdana, Arial, Helvetica, sans-serif;} 
p {color: black; font-family: Verdana, Arial, Helvetica, sans-serif;}
ul {color: black; font-family: Verdana, Arial, Helvetica, sans-serif;}
li {color: black; font-family: Verdana, Arial, Helvetica, sans-serif;}

a.ext:link {color: grey; text-decoration: none; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
a.ext:after {content: url(http://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg); margin: 0 0 0 5px;}
a.ext:visited {color: grey; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif;}
a.ext:hover {color: #ff4500; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif;}
a.ext:active {color: red; font-family: Verdana, Arial, Helvetica, sans-serif;}

.negative {color: red;}

.positive {color: black;}

